#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        L_ALT {
            bindings = <&kp LEFT_ALT>;
            key-positions = <12 11>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W  &kp E  &kp R      &kp T        &kp Y      &kp U       &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &kp F      &kp G        &kp H      &kp J       &kp K      &kp L    &kp SQT
&kp Z  &kp X  &kp C  &kp V      &kp B        &kp N      &kp M       &kp COMMA  &kp DOT  &kp SLASH
                     &lt 2 TAB  &kp ENTER    &kp SPACE  &lt 1 BSPC
            >;
        };

        layer_1 {
            bindings = <
&kp INS     &kp N1  &kp N2  &kp N3  &trans     &kp HOME  &kp PG_DN       &kp PG_UP     &kp END    &kp COLON
&kp DEL     &kp N4  &kp N5  &kp N6  &trans     &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &kp FSLH
&caps_word  &kp N7  &kp N8  &kp N9  &kp N0     &trans    &trans          &trans        &trans     &trans
                            &trans  &kp ESC    &trans    &trans
            >;
        };
    };
};
